/*Global styles*/

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	color: white;
}

h4 {
	font-family: 'Playfair Display', serif;
	color: gray;
}

p, small {
	font-family: 'Playfair Display', serif;
	color: gray;
}

li, a {
	font-family: 'Roboto', sans-serif;
	color: white;
}

/*font-hierarchy*/

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.25cm;
}
h3 {
	font-size: 1.75em;
	color: white;
}

@media only screen and (max-width: 767px){
	h1 {}
	h2 {}
	h3 {}
}

.container {
	color: white;
	width: 100vw;
	padding: 20px;
}

/*Navbar*/
}

.icon-bar {

}
.navbar-brand img {
	height: auto;
	padding: 0px;
	width: 50px;
}

.navbar-nav a{
	list-style-type: none;
	float: right;
}

ul {
	margin-left: 0px;
}

/*footer*/

.footer {
	background-color: black;
	width: 100%;
	height: 40px;
	text-align: center;
}
.footer img {
	height: auto;
	width: 40px;
}

/*header*/

.header {
	height: 100vh;
	width: auto;
	background-image: url("../img/post-image.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header h2 {
	font-size: 4em;
	color: white;
	position: center center;

}

.header_barberia p {

}


@media only screen and (max-width: 767px);